@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #fff; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #707070;
  padding: 2.5rem; }

.primary-heading {
  text-transform: uppercase;
  white-space: nowrap;
  backface-visibility: hidden; }
  .primary-heading--main {
    display: block;
    font-size: 4rem;
    letter-spacing: .9rem;
    font-weight: 400;
    animation: fadeInRight 1s ease-out; }
  .primary-heading--sub {
    display: block;
    font-size: 1.6rem;
    letter-spacing: 1rem;
    font-weight: 400;
    animation: fadeInLeft 1s ease-out;
    margin-bottom: 2.5rem; }

.secondary-heading {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #5643fa, #110529);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .secondary-heading:hover {
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
    transform: skewY(1deg) skewX(10deg) scale(1.1); }

.tertiary-heading {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.utility-center-text {
  text-align: center; }

.utility-margin-top-large {
  margin-top: 8rem; }

.utility-margin-bottom-large {
  margin-bottom: 8rem; }

.utility-margin-bottom-small {
  margin-bottom: 1rem; }

.utility-margin-right-small {
  margin-right: 2rem; }

.utility-font-color-pink {
  color: #ff0790; }

.utility-font-color-blue {
  color: rgba(170, 86, 255, 0.715); }

.utility-font-color-purple {
  color: #00ffd0; }

.utility-remove-decoration {
  text-decoration: none; }

.utility-change-color-and-enlarge {
  color: #1B94FB;
  font-size: 2rem; }

.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 2.5rem;
  position: relative;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2.1rem rgba(0, 0, 0, 0.8); }
  .btn:hover::after {
    transform: scaleX(1.2) scaleY(1.1);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1.1rem rgba(0, 0, 0, 0.8); }

.btn--light {
  background-color: #fff;
  color: #110529; }
  .btn--light::after {
    background-color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  transition: all .4s;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0; }

.btn--animated {
  animation: fadeInBottom .5s ease-in .5s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #110529;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #110529;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #110529;
  color: #1B94FB;
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 58%;
    border-radius: 3px;
    position: absolute;
    box-shadow: 0 1.5rem 4em rgba(0, 0, 0, 0.3);
    transition: all .2s;
    outline-offset: 2rem; }
    .composition__photo--1 {
      left: 0;
      top: -2rem; }
    .composition__photo--2 {
      right: 0;
      top: 2rem; }
    .composition__photo--3 {
      left: 22%;
      top: 10rem; }
    .composition__photo:hover {
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4em rgba(0, 0, 0, 0.3);
      z-index: 21;
      outline: 1.5rem solid #1B94FB; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.info-box {
  background-color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s;
  min-height: 30rem; }
  .info-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }
  .info-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    background-image: linear-gradient(to right, rgba(170, 86, 255, 0.715), #110529);
    -webkit-background-clip: text;
    color: transparent; }

.card {
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 50rem; }
  .card__pic {
    background-size: cover;
    background-blend-mode: hue;
    height: 23rem;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%); }
    .card__pic--logo {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      width: 100%; }
    .card__pic--1 {
      background-image: linear-gradient(to right bottom, #1B94FB, #5643fa), url(../img/esports.jpg); }
    .card__pic--2 {
      background-image: linear-gradient(to right bottom, #AA56FF, #6300c7), url(../img/space.jpg); }
    .card__pic--3 {
      background-image: linear-gradient(to right bottom, #ff0790, #ad005f), url(../img/realestate.jpg); }
  .card__heading {
    font-size: 2.8rem;
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    text-align: right;
    font-weight: 300;
    top: 12rem;
    right: 2rem;
    width: 80%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(27, 148, 251, 0.85), rgba(86, 67, 250, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(170, 86, 255, 0.85), rgba(99, 0, 199, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(255, 7, 144, 0.85), rgba(173, 0, 95, 0.85)); }
  .card__detail {
    color: #707070;
    padding: 3rem; }
    .card__detail ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__detail ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__detail ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__face {
    position: absolute;
    color: white;
    height: 50rem;
    font-size: 2rem;
    transition: all .8s;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    overflow: hidden; }
    .card__face--front {
      background-color: #fff; }
    .card__face--back {
      transform: rotateY(180deg); }
      .card__face--back-1 {
        background: linear-gradient(to right bottom, #1B94FB, #5643fa); }
      .card__face--back-2 {
        background: linear-gradient(to right bottom, #AA56FF, #6300c7); }
      .card__face--back-3 {
        background: linear-gradient(to right bottom, #ff0790, #ad005f); }
  .card:hover .card__face--front {
    transform: rotateY(-180deg); }
  .card:hover .card__face--back {
    transform: rotateY(0); }
  .card__action-box {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .card__action-sub-box {
    text-align: center;
    margin-bottom: 3rem;
    color: #fff; }
  .card__action-heading {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__action-sub-heading {
    font-size: 6rem;
    font-weight: 100; }

.review {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  .review__text {
    transform: skewX(12deg); }
  .review__shape {
    width: 15rem;
    height: 15rem;
    background-color: red;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
  .review__img {
    height: 100%;
    transform: scale(1);
    transition: all .5s; }
  .review__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    text-transform: uppercase;
    transition: all .5s;
    backface-visibility: hidden;
    color: #fff;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0; }
  .review:hover .review__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .review:hover .review__img {
    filter: blur(3px) brightness(65%);
    transform: scale(1.4); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .3;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.header {
  position: relative;
  height: 90vh;
  background-image: linear-gradient(to left top, rgba(17, 5, 41, 0.8), #110529 50%), url(../img/moon.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 76vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 76vh, 0 100%); }
  .header__logo-container {
    position: absolute;
    top: 2rem;
    left: 2rem; }
  .header__logo {
    height: 4rem; }
  .header__text-and-button-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #b9ccfd; }

.row {
  max-width: 114em;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 3em; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 5em; }
  .row .col-1-of-1 {
    width: 100%; }
  .row .col-1-of-2 {
    width: calc((100% - 5em) / 2); }
  .row .col-2-of-2 {
    width: 100%; }
  .row .col-1-of-3 {
    width: calc((100% - 5em * 2) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 5em * 2) / 3) + 5em); }
  .row .col-3-of-3 {
    width: 100%; }
  .row .col-1-of-4 {
    width: calc((100% - 5em * 3) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 5em * 3) / 4) + 5em); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 5em * 3) / 4) + (5em * 2)); }
  .row .col-4-of-4 {
    width: 100%; }

.footer {
  background-color: #110529;
  padding: 10rem 0;
  color: #b9ccfd;
  font-size: 1.4rem; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
  .footer__logo {
    font-size: 5rem;
    font-weight: 900;
    display: inline-block;
    background-image: linear-gradient(to right bottom, #ff0790, #5643fa, #1B94FB, #AA56FF);
    -webkit-background-clip: text;
    color: transparent; }
  .footer__brackets {
    font-size: .9em;
    -webkit-text-stroke: 0.5px #6300c7;
    color: #debdff;
    text-shadow: 1px 1px 2px black, 0 0 25px #5643fa, 0 0 15px #5643fa; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__nav {
    border-top: 1px solid #b9ccfd;
    padding-top: 2rem;
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__link:link, .footer__link:visited {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #5643fa;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.2); }
  .footer__copy {
    border-top: 0.5px solid #b9ccfd;
    padding-top: 2rem; }

.about-section {
  background-color: #f7f7f7;
  margin-top: -14.5vh;
  padding: 20rem 0; }

.more-info-section {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(170, 86, 255, 0.715), #110529), url(../img/technology.jpg);
  margin-top: -11rem;
  transform: skewY(-3.36deg); }
  .more-info-section > * {
    transform: skewY(3.36deg); }

.prices-section {
  background-color: #f7f7f7;
  padding: 25rem 0 20rem 0;
  margin-top: -7rem; }

.reviews-section {
  padding: 15rem 0;
  position: relative; }
