// Colors
$color-purple: rgba(170, 86, 255, 0.715);
$color-purple-dark: #110529;
$color-white: #fff;
$color-black: #000;
$color-base-font: #707070;
$color-off-white: #f7f7f7;
$color-blue: #1B94FB;
$color-green-light: #00ffd0;


//Grid Values
$grid-width: 114em;
$column-space: 5em;
$row-space: 3em;

// Font
$font-size-default: 1.6rem;