// Colors
$color-purple: rgba(170, 86, 255, 0.815);
$color-purple-dark: #170040f2;
$color-white: #fff;
$color-black: #000;
$color-base-font: #b9ccfd;

//Grid Values
$color-row: orange;
$grid-width: 128em;
$column-space: 5em;
$row-space: 3em;