// Colors
$color-purple: rgba(170, 86, 255, 0.815);
$color-purple-dark: #170040f2;
$color-white: #fff;
$color-black: #000;
$color-base-font: #707070;
$color-off-white: #f7f7f7;

//Grid Values
$grid-width: 114em;
$column-space: 5em;
$row-space: 3em;

// Font
$font-size-default: 1.6rem;