.footer {
    background-color: $color-purple-dark;
    padding: 10rem 0;
    color: $color-light-blue;
    font-size: 1.4rem;

    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;
    }
    
    &__logo {
        font-size: 5rem;
        font-weight: 900;
        display: inline-block;
        background-image: linear-gradient(to right bottom, $color-pink, $color-blue-dark, $color-blue, $color-purple-solid);
        -webkit-background-clip: text;
        color: transparent;
    }

    &__brackets {
        font-size: .9em;
        -webkit-text-stroke: .5px $color-white;
        color: $color-blue-dark;
        text-shadow: 1px 1px 2px black, 0 0 25px $color-blue, 0 0 15px $color-blue;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__nav {
        border-top: 1px solid $color-light-blue;
        padding-top: 2rem;
        display: inline-block;
    }

    &__list {
        list-style: none;
    }

    &__link {
        &:link,
        &:visited {
            color: inherit;
            text-decoration: none;
            display: inline-block;
            text-transform: uppercase;
            transition: all .2s;
        }

        &:hover,
        &:active {
            color: $color-blue;
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
            transform: rotate(5deg) scale(1.2);
        }
    }

    &__copy {
        border-top: .5px solid $color-light-blue;
        padding-top: 2rem; 
    }
}