.navigation {
    &__button {
        background-color: $color-white;
        box-shadow: 0 1rem 3rem rgba($color-black, .2);
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 5.5rem;
        right: 5.5rem;
        border-radius: 50%;
        z-index: 102;
        text-align: center;
    }
    &__checkbox {
        display: none;
    }
    &__background {
        z-index: 100;
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6rem;
        right: 6rem;
        background-image: radial-gradient($color-purple-solid, $color-purple-dark);
        transition: transform .8s;

    }
    &__nav {
        height: 101vh;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        opacity: 0;
        transition: all .8s ;
    }
    &__list {
        @include positionAbsoluteCenter;
        list-style: none;
        text-align: center;
        width: 100%;
    }
    &__item {
        margin: 1rem;
    }
    &__link {
        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            color: $color-white;
            padding: 1rem 2rem;
            text-transform: uppercase;
            text-decoration: none;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 230%;
            transition: all .4s;
        }
        &:hover,
        &:active {
            background-position: 100%;
            color: $color-purple-solid;
            transform: translateX(1rem);
        }

    }

    &__checkbox:checked ~ &__background {
        transform: scale(75);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }
}