.card {
    position: relative;
    perspective: 150rem;
    -moz-perspective: 150rem;
    height: 50rem;
    
    &__face {
        position: absolute;
        color: white;
        height: 50rem;
        font-size: 2rem;
        transition: all .8s;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background: linear-gradient(to right bottom, $color-blue, $color-purple-dark);
            }

            &-2 {
                background: linear-gradient(to right bottom, $color-purple, $color-purple-dark);
            }

            &-3 {
                background: linear-gradient(to right bottom, $color-green-light, $color-purple-dark);
            }
        }
    }

    &:hover &__face--front {
        transform: rotateY(-180deg);
    }

    &:hover &__face--back {
        transform: rotateY(0);
    }
}