.review {
  @include responsive(tablet-portrait) {
    padding: 4rem 4rem 4rem 7rem;
    width: 100%;
  }
  @include responsive(phone) {
    transform: skewX(0);
  }

  background-color: rgba($color-white, .8);
  border-radius: 3px;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  font-size: $font-size-default;
  margin: 0 auto;
  padding: 6rem 6rem 6rem 9rem;
  transform: skewX(-12deg);
  width: 75%;

  &__text {
    @include responsive(phone) {
      transform: skewX(0);
    }
    transform: skewX(12deg);
  }

  &__shape {
    @include responsive(phone) {
      transform: translateX(-3rem) skewX(0);
    }
    background-color: red;
    clip-path: circle(50% at 50% 50%);
        width: 15rem;
        height: 15rem;
        
        float: left;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        
        transform: translateX(-3rem) skewX(12deg);
        position: relative;
    }

    &__img {
        height: 100%;
        transform: scale(1);
        transition: all .5s; 
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        text-transform: uppercase;
        transition: all .5s; 
        backface-visibility: hidden;
        color: $color-white;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        filter: blur(3px) brightness(65%);
        transform: scale(1.4);
    }
}