.utility-center-text{ text-align: center; }
.utility-margin-bottom-large{ margin-bottom: 8rem; }
.utility-margin-bottom-small{ margin-bottom: 1rem; }
.utility-margin-right-small{ margin-right: 2rem; }
.utility-font-color-pink{ color: $color-pink; }
.utility-font-color-green{ color: $color-green-light; }
.utility-change-color-and-enlarge{
    color: $color-blue;
    font-size: 2rem;
}