.about-section {
    background-color: $color-off-white;
    margin-top: -14.5vh;
    padding: 20rem 0;
}

.more-info-section {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom,
    $color-purple,  
    $color-purple-dark), 
    url(../img/technology.jpg);
    margin-top: -11rem;
    transform: skewY(-3.36deg);

    & > * {
        transform: skewY(3.36deg);
    }
}

.prices-section {
    background-color: $color-off-white;
    padding: 25rem 0 20rem 0;
    margin-top: -7rem;
}